<h1>推文後台</h1>
<span>切換：</span>
<a href="#">推文</a>
<span>/</span>
<a href="/admin/users">使用者</a>

<table class="table mt-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Description(Preview)</th>
      <th scope="col">UserId</th>
      <th scope="col">推播回覆內容</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each tweets}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.description}}</td>
      <td>{{this.UserId}}</td>
      <td>WIP</td>
      <td><form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
        <button type="submit" class="btn btn-danger"
          onclick="if(confirm('Are you sure?')) return true; else return false">Delete</button>
      </form></td>
    </tr>
    {{/each}}
  </tbody>
</table>